<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="BDAG Final Regression Suite" verbose="1" parallel="classes" thread-count="4">
    
    <test name="Live Site Verification">
        <classes>
            <class name="com.regression.bugs.Bdag_Solved_01_ValidSearch"/>
            <class name="com.regression.bugs.Bdag_Solved_02_InvalidSearchRedirect"/>
            <class name="com.regression.bugs.Bdag_Solved_03_LatestBlocksLoad"/>
            <class name="com.regression.bugs.Bdag_Solved_04_SocialLinks"/>
            <class name="com.regression.bugs.Bdag_Solved_05_AddressPageValues"/>
            <class name="com.regression.bugs.Bdag_Solved_06_TxnTabsSwitch"/>
            <class name="com.regression.bugs.Bdag_Solved_07_TxnDetails"/>
            <class name="com.regression.bugs.Bdag_Solved_08_CopyButton"/>
            <class name="com.regression.bugs.Bdag_Solved_09_GasTracking"/>
            <class name="com.regression.bugs.Bdag_Solved_10_LogoNavigation"/>
            <class name="com.regression.bugs.Bdag_Solved_11_ViewAllBlocks"/>
            <class name="com.regression.bugs.Bdag_Solved_12_ErrorPageHomeButton"/>
            <class name="com.regression.bugs.Bdag_Solved_13_MobileResponsiveness"/>
            <class name="com.regression.bugs.Bdag_Solved_14_BlockZeroCheck"/>
            <class name="com.regression.bugs.Bdag_Solved_15_NetworkMetrics"/>
            <class name="com.regression.bugs.Bdag_Solved_16_FooterDapps"/>
            <class name="com.regression.bugs.Bdag_Solved_17_PageTitle"/>
            <class name="com.regression.bugs.Bdag_Solved_18_HttpsSecurity"/>
            <class name="com.regression.bugs.Bdag_Solved_19_SearchPlaceholder"/>
            <class name="com.regression.bugs.Bdag_Solved_20_MinerAppLink"/>
            <class name="com.regression.bugs.Bdag_Solved_21_Token_ListLoad"/>
            <class name="com.regression.bugs.Bdag_Solved_22_Token_Invalid"/>
            <class name="com.regression.bugs.Bdag_Solved_23_NFT_MintList"/>
            <class name="com.regression.bugs.Bdag_Solved_24_NFT_Invalid"/>
            <class name="com.regression.bugs.Bdag_Solved_25_Node_MapLoad"/>
            <class name="com.regression.bugs.Bdag_Solved_26_Node_Toggle"/>
            <class name="com.regression.bugs.Bdag_Solved_27_Contact_Link"/>
            <class name="com.regression.bugs.Bdag_Solved_28_Contact_External"/>
        </classes>
    </test>

</suite>
